.blockquote {
    min-height: 270px;
    text-align: left;
    position: relative;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-weight: 800;*/
    /*padding: 0px 0;*/
    width: 95%;
    /*max-width: 500px;*/
    /*z-index: 1;*/
    margin: 80px auto;
    padding-top: 55px;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
    position: relative;
    padding-left: 50px;
    min-height: 180px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    font-size: 7rem;
    line-height: 0;
    top: 55px;
    left: 10px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 45px;
   }
}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    padding-left: 50px;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}
